    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    header {
        display: flex;
        align-items: center;
        padding: 10px 40px;
        position: relative;
        background-color: rgb(223, 222, 222);
        height: 50px;
    }

    .logo img {
        width: 250px;
        height: auto;
    }

    nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 50px;
        margin: 0;
        padding: 0;
    }

    nav ul li a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
    }

    nav ul li a:hover {
        color: #007a33;
    }


header h1 {
    margin: 0;
    font-size: 36px;
}

section {
    padding: 20px;
}

h2 {
    color: #0044cc;
}

.card {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.contact-info {
    color: #0044cc;
    font-weight: bold;
}

.btn-contact {
    background-color: #0044cc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn-contact:hover {
    background-color: #003399;
}
